.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.image-slider {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: auto;
  overflow: hidden;
}

.image-slider img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.5s ease-in-out;
}

/* Optional: Add a fade effect between slides */
.image-slider img:not(:first-child) {
  opacity: 0;
}

.image-slider img.active {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
